{% extends 'base.html' %}

{% block content %}
  <h2>Coach Students Mapping Selection</h2>
  {% for form, student_list in data_list %}
    <h3>Coach: {{ form.coach.name }} ({{form.coach.username}})</h3>

    <form method="post">
      {% csrf_token %}
      <table class="table table-striped" style="width: 450px;" >
        <tr>
          <th>Current Students:</th>
          <th>Action</th>
        </tr>
        
        {% for student in student_list %}
        
        <tr>
          <td style="width: 70%;">{{ student.name }} ({{student.username}})</td>
          <td style="width: 30%;">
              <button type="submit" class="btn btn-danger" formaction="{%url 'coach_student_mapping_delete' coach_id=form.coach.id student_id=student.id %}">Delete</button>
            </form>
          </td>  
        </tr>
      
        {% endfor %}
      </table>
      {% for field in form %}
        <div class="form-group" style="width: 450px;"> 
          {{ field.label_tag }} {{ field.errors }}
          {{ field }}
      {% endfor %}

      <button  type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
    <br>
    <br>
  {% endfor %}
{% endblock %}
