{% extends 'base.html' %}

{% block content %}
<h2>課外活動</h2>
<div class="table-container" style="max-height: 300px; overflow-y: scroll;">
  <table class="table table-striped"> 
      <thead> 
          <tr>
              <th>你的課外活動</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {%for eca in eca_list%}
          <tr>
            <td>{{eca.name}}</td>
            <td>
              <a href="{% url 'eca_delete' eca.id%}" class="btn btn-danger">刪除</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

<form method="post">
  {% csrf_token %}

  {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}
    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% if field.errors %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endif %}
    {{ field }}
  </div>
  {% endfor %}

  {% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}

  </div>
  {% endif %}
  <button type="submit" class="btn btn-success">新增課外活動</button>
</form>
{% endblock %}
