{% extends 'base.html' %}
  
{% block content %}
  <h2>用戶注冊</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in sign_up_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    {% for field in user_info_form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Next</button>
  </form>
{% endblock %}