{% extends 'base.html' %}
<h1>Social Style Score Input</h1>
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ student_form.as_p }}

    {% for field in form %}
      <p>
        {{ field.label_tag }}<br />
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <button type="submit">Submit</button>
  </form>
{% endblock %}
