{% extends 'base.html' %}

{% block content %}
<h2>任務</h2>
{% if task_list %}
  <div class="table-container" style="max-height: 300px; overflow-y: scroll;">
      <table class="table table-striped"> 
          <thead> 
              <tr>
                  <th style="width: 15%">你的任務</th>
                  <th style="width: 12.5%">相關科目</th>
                  <th style="width: 12.5%" >相關目標</th>
                  <th style="width: 12.5%">相關方法</th>
                  <th style="width: 12.5%">相關任務</th>
                  <th style="width: 10%">優先度</th>
                  <th style="width: 15%">預計完成日期</th>
                  <th style="width: 5%"></th>
                  <th style="width: 5%"></th>
              </tr>
          </thead>
          <tbody>
              {% for task in task_list %}
              <tr>
                  <td><h5>{{ task.name }}:</h5>{{ task.description }}</td>
                  <td>{{ task.subject_name }}</td>
                  <td>{{ task.goal_name }}</td>
                  <td>{{ task.method_name }}</td>
                  <td>{{ task.task_name }}</td>
                  <td>{{ task.priority }}</td>
                  <td>{{ task.predicted_end_time|date:"j F Y"}}</td>
                  <td>
                      <a href="{% url 'task_evaluation' task.id %}" class="btn btn-success">評估</a>
                  </td>
                  <td>
                      <a href="{% url 'task_delete_page' %}" class="btn btn-danger">刪除</a>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  <br>
{% endif %}

<h3>新增任務</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">新增任務</button>
</form>

{% endblock %}
